// Footer
footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 22px 25px;
    gap: 16px;
    .logo-footer{
        height: 27px;
        color: white;
    }
    .container-info-footer{
        display: flex;
        flex-direction: column;
        gap: 7px;
        .container-icon-footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 11px;
            .footer-icon{
                color: white;
                font-size: 14px;
            }
        }
        .text-footer{
            color: white;
            font-weight: 400;
            margin: 0;
        }
    }
}

/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
    footer{
        flex-direction: row-reverse;
        gap: 60px;
        padding: 30px 25px;
        .container-info-footer{
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
    }
}

/* Large devices (desktops, more/equal than 1440px) */
@media (min-width: 1440px) {
    footer{
        // padding: 30px 330px;
        justify-content: center;
    }
}