// Header
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    .container-logo{
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 1;
        .logo{
            width: 162px;
            padding-top: 14px;
            padding-bottom: 13px;
        }
    }
    // Localisation
    .container-localisation{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        background-color: #EAEAEA;
        z-index: 0;
        .localisation-icon{
            font-size: 16px;
            color: #000;
        }
    }
}
