header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}
header .container-logo {
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header .container-logo .logo {
  width: 162px;
  padding-top: 14px;
  padding-bottom: 13px;
}
header .container-logo .arrow {
  position: absolute;
  left: 20px;
  top: 20px;
}
header .container-header-img .header-img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container-localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
  z-index: 0;
}
header .container-localisation .localisation-icon {
  font-size: 16px;
  color: #000;
}

/* Medium devices (tablets, more/equal than 768px) */
/* Large devices (desktops, more/equal than 1025px) */
@media (min-width: 1025px) {
  header .container-logo .arrow {
    left: 18%;
  }
  header .container-header-img {
    overflow: hidden;
  }
  header .container-header-img .header-img {
    width: 100%;
    height: 956px;
    margin-top: -330px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  gap: 16px;
}
footer .logo-footer {
  height: 27px;
  color: white;
}
footer .container-info-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .container-info-footer .container-icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}
footer .container-info-footer .container-icon-footer .footer-icon {
  color: white;
  font-size: 14px;
}
footer .container-info-footer .text-footer {
  color: white;
  font-weight: 400;
  margin: 0;
}

/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    gap: 60px;
    padding: 30px 25px;
  }
  footer .container-info-footer {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
/* Large devices (desktops, more/equal than 1440px) */
@media (min-width: 1440px) {
  footer {
    justify-content: center;
  }
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}
article h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
article p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-top: 0;
}
article button {
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 13px 19px;
  margin-top: 27px;
  margin-bottom: 57px;
}
article button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.steps-container {
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin-top: 48px;
  margin-bottom: 68px;
}
.steps-container .div-container {
  width: -moz-max-content;
  width: max-content;
}
.steps-container .div-container .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
  width: 100%;
}
.steps-container .div-container .steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 273px;
  gap: 27px;
  padding: 29px 0 29px 38px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.steps-container .div-container .steps .step .container-numero {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
}
.steps-container .div-container .steps .step .container-numero .numero {
  color: white;
  font-size: 14px;
}
.steps-container .div-container .steps .step .mobile-icon {
  font-size: 18px;
  color: #7E7E7E;
}
.steps-container .div-container .steps .step .title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.steps-container .div-container .steps .step:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.steps-container .div-container .steps .step:hover .mobile-icon {
  color: #9356DC;
}

/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .steps-container .div-container .steps {
    flex-direction: column;
    width: -moz-max-content;
    width: max-content;
    gap: 25px;
  }
}
/* Large devices (desktops, more/equal than 1025px) */
@media (min-width: 1025px) {
  .steps-container .div-container .steps {
    flex-direction: row;
  }
}
.restaurants-container {
  display: flex;
  justify-content: center;
  padding: 24px 0 66px 0;
  margin-top: 48px;
  background-color: #F6F6F6;
  width: 100%;
}
.restaurants-container .restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-left: 0;
  padding-top: 26px;
  gap: 18px;
  width: -moz-max-content;
  width: max-content;
}
.restaurants-container .restaurants .restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurants-container .restaurants .restaurant .width {
  width: 100%;
}
.restaurants-container .restaurants .restaurant .new {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants-container .restaurants .restaurant .restaurant-img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-container .restaurants .restaurant .restaurant-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 16px 25px 12px 13px;
}
.restaurants-container .restaurants .restaurant .restaurant-info .restaurant-title {
  display: flex;
  flex-direction: column;
}
.restaurants-container .restaurants .restaurant .restaurant-info .restaurant-title .title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}
.restaurants-container .restaurants .restaurant .restaurant-info .restaurant-title .description {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.heart__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.heart__icon--empty {
  position: absolute;
  color: black;
}
.heart__icon--full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.heart__icon:hover .heart__icon--full {
  opacity: 1;
}
.heart__icon:hover .heart__icon--empty {
  opacity: 0;
}

/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .restaurants-container .div-container .restaurants {
    grid-template-columns: 1fr;
  }
  .restaurants-container .div-container .restaurants .restaurant {
    width: 490px;
  }
  .restaurants-container .div-container .restaurants .restaurant a .restaurant-img {
    width: 490px;
  }
}
/* Large devices (desktops, more/equal than 1025px) */
@media (min-width: 1025px) {
  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants-container .div-container {
    width: -moz-max-content;
    width: max-content;
  }
  .restaurants-container .div-container .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 50px;
    width: -moz-max-content;
    width: max-content;
  }
  .restaurants-container .div-container .restaurants .restaurant {
    width: -moz-max-content;
    width: max-content;
  }
  .restaurants-container .div-container .restaurants .restaurant a .restaurant-img-container {
    overflow: hidden;
    max-height: 251px;
  }
  .restaurants-container .div-container .restaurants .restaurant a .restaurant-img-container .restaurant-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.header-img {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.background-menu {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  padding: 32px 13px;
  gap: 40px;
  z-index: 3;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.background-menu .header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.background-menu .header-menu h1 {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  font-family: "Shrikhand", cursive;
}
.background-menu .section-menu {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.background-menu .section-menu h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
.background-menu .section-menu .bottom-bar {
  display: flex;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 12px;
}
.background-menu .section-menu .list-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
}
.background-menu .section-menu .list-menu .plat-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
}
.background-menu .section-menu .list-menu .plat-menu .info-plat {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 8px;
  max-width: 80%;
}
.background-menu .section-menu .list-menu .plat-menu .info-plat h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.background-menu .section-menu .list-menu .plat-menu .info-plat p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.background-menu .section-menu .list-menu .plat-menu .prix-check-plat {
  display: flex;
  flex-direction: row;
}
.background-menu .section-menu .list-menu .plat-menu .prix-check-plat .prix-plat, .background-menu .section-menu .list-menu .plat-menu .prix-check-plat .check {
  transition: 0.3s;
}
.background-menu .section-menu .list-menu .plat-menu .prix-check-plat .check {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: -60px;
  background-color: #99E2D0;
  width: 59px;
  border-radius: 0 15px 15px 0;
}
.background-menu .section-menu .list-menu .plat-menu .prix-check-plat .check .icon-check {
  color: white;
}
.background-menu .section-menu .list-menu .plat-menu:hover .info-plat {
  max-width: 60%;
}
.background-menu .section-menu .list-menu .plat-menu:hover .prix-check-plat .check {
  opacity: 1;
  right: 0;
}
.background-menu .section-menu .list-menu .plat-menu:hover .prix-check-plat .prix-plat {
  margin-right: 60px;
}
.background-menu .entrees, .background-menu .plats, .background-menu .desserts {
  opacity: 0;
  animation: menu 0.5s forwards;
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background-menu .entrees {
  animation-delay: 0s;
}
.background-menu .plats {
  animation-delay: 0.5s;
}
.background-menu .desserts {
  animation-delay: 1s;
}
.background-menu .section-boutton-menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.background-menu .section-boutton-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 186px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 13px 19px;
}
.background-menu .section-boutton-menu button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* Medium devices (tablets, more/equal than 768px) */
/* Large devices (desktops, more/equal than 1025px) */
@media (min-width: 1025px) {
  header .container-header-img {
    max-height: 700px;
  }
  header .container-header-img .header-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .background-menu {
    max-width: 1221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
    padding: 32px 150px;
  }
  main .background-menu .header-menu {
    justify-content: center;
    gap: 50px;
  }
  main .background-menu .section-menu {
    width: 634px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9356DC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */